.container-fluid {
    /*background-color: #133354;*/
    /*background-image: url("https://cdn.wallpapersafari.com/78/18/mPWVzu.jpg");*/
    background-image: url("https://coverfiles.alphacoders.com/626/62601.png");
    /*background-image: url("https://erotica.wallbox.ru/wallpapers/main/201337/anime-devushka-yepizod-6c40187.jpg");*/
    background-size: cover;
}

#calculator {
    background-color: black;
    margin: 20% 0 30% 0;
}

.max-height {
    height: 100%;
}

#output {
    background-color: #101010;
    height: 35%;
    border-color: #343A40
    border-radius: 50%;
}

.text-area {
    width: 100%;
    height: 50%;
    margin: 15% 0 0 0;
    text-align: right;
    padding: 10px;
    color: white;
    font-family: OhWhale;
    font-size: 230%;
}

.btn {
    border-radius: 0;
    background-color: #1F1F1F;
    outline: 0;
    font-family: OhWhale;
    font-size: 150%;
}

.btn:focus {
  box-shadow: none;
}

.btn-row {
    height: 12%;
}

@font-face {
    font-family: OhWhale;
    src: url('./Oh Whale - TTF.ttf');
}
