.input_header {
    margin-right: 15%;
    padding: 0;
}

#translator {
    background-color: black;
    margin: 20% 0 20% 0;
}

.base_input {
  width: 11%;
}

.text {
    width: 100%;
    margin: 7% 0;
    padding: 10px;
    color: white;
    font-family: OhWhale;
    font-size: 230%;
}

input {
    text-align: center;
    background-color: black;
    border: black;
}